.excel-list {
    width: 100%;
    
    
  }
  
  .excel-row {
    display: flex;
    border-bottom: 1px solid #ccc;
    
    
  }
  
  .cell {
    flex: 1;
    padding: 8px;
    text-align: center;
    background-color: #ccc;
    border-radius: 1px;
    text-align:  left;
    
  }
  
  .header {
    font-weight: bold;
  }
  
  .name {
    background-color: #ccc; /* Color de fondo para la columna Nombre */
    border-radius: 1px;
  }
  
  .Detalle {
    background-color: #e6e6e6; /* Color de fondo para la columna Edad */
  }
  
  .SuperAdministrador {
    background-color: #50cbee; /* Color de fondo para la columna País */
  }
  
  .Soporte {
    background-color: #d75d5d; /* Color de fondo para la columna Seleccionar */
  }
  .Ventas {
    background-color: #d75d5d; /* Color de fondo para la columna Seleccionar */
  }
  .Administrativo {
    background-color: #d75d5d; /* Color de fondo para la columna Seleccionar */
  }
  .Distribuidor {
    background-color: #4cef68; /* Color de fondo para la columna Seleccionar */
  }
  
  .Usuario {
    background-color: #4cef68; /* Color de fondo para la columna Seleccionar */
  }

  .cell input[type="checkbox"] {
    /* Ajustar el tamaño del cuadro del checkbox */
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block; /* Para que el margin: 0 auto funcione */
  }

  .container {
    width: 90%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    border: 1px solid #ccc; /* Borde del contenedor */

    border-radius: 10px; /* Borde redondeado */
    padding: 10px; /* Espaciado interno */
  }

  /* Estilos para la leyenda */
.legend {
    margin-top: 20px;
  }
  
  .legend-item {
    margin-right: 20px;
    display: inline-block;
  }
  
  .color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  .SuperAdministrador { background-color: #50cbee; }
  .interno { background-color: #d75d5d; }
  .externo { background-color: #4cef68; }
  
  /* Estilos para el botón */
  .btn {
    display: block;
    margin: 20px auto 0; /* Aplica margen superior de 20px y margen automático en los lados para centrarlo horizontalmente */
    padding: 10px 20px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }
  /* Estilos para el elemento <p> */
.brand {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    margin-bottom: 20px; /* Espacio en la parte inferior */
  }
  .login-btn {
    display: block;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    padding: 10px 20px;
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Elimina el subrayado del enlace */
    text-align: center; /* Centra el texto */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #218838; /* Verde más oscuro al pasar el mouse */
  }

  /* ///////////////////////////pantalla de carga */

 .loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}  */


/* .loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
} */

.loading-image {
  width: 250px;  /* Adjust size as needed */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes zoom {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.login-btn {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */
